.abstract{          /*all abstract*/
    list-style-type: none;
    margin-left: 1%;
    padding-left: 0px;
    color: #333;
}
.abs{               /*a abstract*/
    background: #FFFFFF;
    font-family: Lato,"PingFang SC","Microsoft YaHei",sans-serif;
    font-size: 16px;
    margin: 0 auto;
    letter-spacing:0.1em;
    text-align: left;
    line-height: 1.8;
    padding: 5px;
}
.abs a{             /*title*/
    font-size: 1.2em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), 0 0 1.5px #00f, -2px 0 0 #f8f8f8, 2px 0 0 #f8f8f8;
    box-shadow: inset 0 -3.5px 0 #f8f8f8, inset 0 -4.5px 0 #88f;
    text-decoration: overline;
    transition:all 0.3s;
}
.abs a:link, a:visited {
    color: #000;
}
.abs a:hover{
    color: #00f;
    font-size: 1.3em;
}
.abs span{         /*time*/
    display: block;
    margin: 10px;
}